{% extends 'base.html' %}

{% block body %}
<main class="main">
  <h3>Cadastro</h3>

  <form method="POST" action="" class="form">
    {{ form.csrf_token }}

    <fieldset class="form-field">
      {{ form.email.label() }}
      {% if form.email.errors %}
      {{ form.email(class="is-invalid") }}
      <div class="invalid-feedback">
        {% for erro in form.email.errors %}
        {{ erro }}
        {% endfor %}
      </div>
      {% else %}
      {{ form.email() }}
      {% endif %}
    </fieldset>

    <fieldset class="form-field">
      {{ form.password.label() }}
      {% if form.password.errors %}
        {{ form.password(class="is-invalid") }}
      <div class="invalid-feedback">
        {% for erro in form.password.errors %}
          {{ erro }}
        {% endfor %}
      </div>
      {% else %}
      {{ form.password() }}
      {% endif %}
    </fieldset>

  {{ form.submit() }}
  </form>
</main>

{% endblock %}